@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

body {
  background-color: var(--light-grayish-cyan);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: var(--font);
}

#logo {
  margin-bottom: 80px;
}

#container {
  display: flex;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: -4px -2px 36px -23px rgba(150, 149, 149, 0.44);
  -webkit-box-shadow: -4px -2px 36px -23px rgba(150, 149, 149, 0.44);
  -moz-box-shadow: -4px -2px 36px -23px rgba(150, 149, 149, 0.44);
  padding: 50px 30px 30px 50px;
}

label {
  color: var(--dark-grayish-cyan);
  display: block;
  margin-bottom: 10px;
}

#bill,
#number__of__people {
  background-color: var(--very-light-grayish-cyan);
  background-position: 10px center;
  background-repeat: no-repeat;
  direction: rtl;
  margin: 10px 20px 10px auto;
  font-family: var(--font);
  font-size: 24px;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 50px;
  margin-bottom: 30px;
}

#bill:focus,
#number__of__people:focus,
#custom__option:focus {
  border: 3px solid var(--strong-cyan);
  color: var(--very--dark--cyan);
  font-size: 24px;
  outline: none;
}

input::placeholder {
  color: var(--grayish-cyan);
  font-size: 24px;
  text-align: right;
  margin: 10px 20px 10px auto;
}

#bill {
  background-image: url("../images/icon-dollar.svg");
}

#number__of__people {
  background-image: url("../images/icon-person.svg");
}

.input__labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invalid__input__indicator {
  color: hsl(12, 33%, 57%);
}

.invalid__input {
  border: 3px solid hsl(12, 33%, 57%) !important;
}

.tip__options {
  display: flex;
}

.tip__option {
  background-color: var(--very--dark--cyan);
  border: none;
  border-radius: 5px;
  color: var(--white);
  font-family: var(--font);
  font-size: 24px;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 25px;
  transition: background-color 0.2s, cursor 0.2s;
}

#custom__option {
  background-color: var(--very-light-grayish-cyan);
  border: none;
  color: var(--dark-grayish-cyan);
}

button.tip__option:hover,
.selected {
  background-color: var(--strong-cyan);
  color: var(--very--dark--cyan);
  cursor: pointer;
}

label[for="number__of__people"] {
  margin-top: 30px;
}

#results__container {
  background-color: var(--very--dark--cyan);
  border-radius: 20px;
  padding: 40px;
  width: 400px;
  margin-left: 50px;
}

#results__container .row {
  justify-content: space-between;
}

#results__container .row p {
  color: var(--white);
}

#results__container .row p span {
  color: var(--grayish-cyan);
  display: block;
}

#tip__amount,
#total__amount {
  color: var(--strong-cyan);
  font-size: 50px;
}

#reset__button {
  background-color: hsl(183, 79%, 24%);
  border: none;
  border-radius: 10px;
  color: hsl(184, 92%, 20%);
  width: 100%;
  padding: 20px 140px;
  margin-top: 140px;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  transition: background-color 0.2s, cursor 0.2s;
}

#reset__button:hover {
  background-color: var(--strong-cyan);
  cursor: pointer;
}

.row {
  display: flex;
}

.hidden {
  display: none;
}

:root {
  /* Primary Colors */
  --strong-cyan: hsl(172, 67%, 45%);

  /* Neutral Colors */
  --very--dark--cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --font: "Space Mono", monospace;
}
